body 
{
    background:#BFAE8E;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments{
    display: flex;
    flex-wrap: wrap;
}

.assignment
{
    width: 22%;
   padding: 10px;
   margin: 10px;
   padding: 20px 10px;
   background: #DFEDF2;
   border-radius: 25px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 2px solid #8C694A;
    display: block;
    margin: auto;
}

.assignment img:hover
{
    border: 2px dashed #F2D649;
}

h1 
{
    color:#733620;
    text-align:center;
}

h1:hover
{
    color: blue;
}

h2{
    text-align: center;
}
a
{
    text-decoration: none;
    color: #98A69E;
}
a:hover
{
    color: blue;
}